<h1>Florio</h1>
<table>
    <tr>
      <th>Word</th>
      <td><%= @word.word %></td>
  	</tr>
  	<tr>
      <th>Definition</th>
      <td><%= @word.definition %></td>
    </tr>
    <% if @word.alternative_word.present? %>
    <tr>
      <th>Alt Word</th>
      <td><%= @word.alternative_word %></td>
  	</tr>
  	<tr>
      <th>Alt Definition</th>
      <td><%= @word.alternative_definition %></td>
    </tr>
    <% end %>
</table>